# ALTER THESE TO WORK WITH YOUR ENVIRONMENT, CAN USE WHATEVER DATABASE YOU WANT

development:
  adapter: postgresql
  encoding: unicode
  database: world_cup_dev
  pool: 5
  username: railsapp
  password: password
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: world_cup_test
  pool: 5
  username: railsapp
  password: password
  host: localhost

production:
  url:  <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV['DB_POOL'] || ENV['RAILS_MAX_THREADS'] || 5 %>
