.section
  .container.mt-5
    .columns
      .column.is-two-thirds
        %h1.title.is-1 World Cup 2022
        %h2.subtitle.is-2 (we're still here somehow)
      .column.mt-5
        %a{href:"https://github.com/estiens/world_cup_json"}
          .button.is-large.is-info
            CODE ON GITHUB
  %p.mx-5.mt-5.is-size-4
    This is an API for the <strike>World Cup(2014,2018) and Women's World Cup(2015,2019)</strike>
    <b>2022!</b>
    that scrapes current match results and outputs match data as JSON, including events such as goals, substitutions,
    and cards, see the GitHub page for full details, or just play with it.
    No guarantees are made as to its accuracy, or that it will stay up. But hey, it's made it through four world cups!
.section
  .container
    .columns
      .column.is-four-fifths.mx-auto.is-size-4
        .box.has-background-primary-light
          .columns
            .column
              %p.has-text-weight-bold
                All match data, updated in real time
              %a{href:"https://world-cup-json-2022.fly.dev/matches"}
                %code GET /matches
              .is-size-5.mt-2
                %p
                  by default, this only returns a match summary and the smaller views show details
                  but you can change that.
                %p.mt-2
                  Full list of params below!
            .column.is-size-5
              %p.mt-3
                sorting!
                %br
                %a.mt-1{href:"https://world-cup-json-2022.fly.dev/matches?by=closest_score"}
                  %code ?by=closest_score
              %p.mt-5
                filtering! extended match details!
                %br
                %a.mt-1{href:"https://world-cup-json-2022.fly.dev/matches/country/USA?details=true"}
                  %code /country/USA?details=true
    .columns
      .column.is-four-fifths.mx-auto.is-size-4
        .columns
          .column.is-one-half
            .box.has-background-info-light
              %a.api-link{href:"https://world-cup-json-2022.fly.dev/matches/today"}
                %code GET /matches/today
              .is-size-5.mt-2
                %p
                  Returns all of today's matches
                %p
                  (yes, there's also a /tomorrow endpoint)
          .column.is-one-half
            .box.has-background-warning-light
              %a.api-link{href:"https://world-cup-json-2022.fly.dev/matches/current"}
                %code GET /matches/current
              %p.is-size-5.mt-2
                Returns the current match, if a match is happening, otherwise nothing.
                Maybe you can use it to turn on your TV?
    .columns
      .column.is-four-fifths.mx-auto.is-size-4
        .columns
          .column.is-one-third
            .box.has-background-success-light
              %a{href:"https://world-cup-json-2022.fly.dev/teams/URU"}
                %code GET /teams/:country
              %p.is-size-5.mt-2
                What's a Rails API without another show endpoint?
          .column.is-two-thirds
            .box.has-background-danger-light
              %a{href:"https://world-cup-json-2022.fly.dev/teams"}
                %code GET /teams
              .is-size-5.mt-2
                %p
                  Results for teams (wins, losses, draws, goals_for, goals_against)
                %br
                  Handy for those group stage arguments!
    .columns
      .column.is-four-fifths.mx-auto.is-size-6
        .box.has-background-primary-light.mx-auto
          %h3.is-title
            OPTIONAL PARAMETERS
          %p
            You can append <code>?by_date=desc</code> to any query to sort the matches by future to past. <code>?by_date=asc</code> does past to future.
            %br
              %a{href:"https://world-cup-json-2022.fly.dev/matches/today/?by_date=DESC"}
                https://world-cup-json-2022.fly.dev/matches/today/?by_date=DESC
          %p
            You can append <code>?by=</code> with optional params <code>total_goals</code>, <code>closest_score</code>, <code>away_team_goals</code>, <code>home_team_goals</code>
            %br
              %a{href:"https://world-cup-json-2022.fly.dev/matches/?by=total_goals"}
                https://world-cup-json-2022.fly.dev/matches/?by=total_goals
-if @current_matches.count.positive?
  .section
    .container
      .columns
        .column.is-four-fifths.mx-auto
          .box.has-background-link-light
            %h3
              CURRENT MATCH
            %p
              live match stuff
.section
  .container
    %ul
      %li
        %a{href:"https://github.com/estiens/world_cup_json"}
          %i.fa.fa-github
      %li
        %a{href:"mailto:me@ericstiens.dev"}
          %i.fa.fa-envelope
