// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  display: block;
  margin: 50px 0;
  height: 80px;
  background: white;
  background: rgba(255,255,255,.3);
  width: 100%;
  padding: 20px 0;

  img {
    width: 100px;
    margin: -30px auto 0;
    display: block;
  }
}

footer {
  display: block;
  margin: 50px 40%;
  height: 100px;
  width: 100%;
  padding: 20px 0;
}

h1 {
  font-family: 'Lato';
  text-align: center;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.0825em;
}

h2 {
  @extend h1;
  margin-bottom: 50px;
}

h3 {
  @extend h1;
  margin-bottom: 50px;
  margin-top: 50px;
}

.intro {
  text-align: center;
}

.match-results {text-align: center}
.fa {color:white; font-size: 45px; padding-right: 15px; margin-top:50px;}
.fa:hover {opacity: .7}
#sfg-logo {margin-top:-5px}
#sfg-logo:hover {opacity:.7}


